* {
    box-sizing: border-box;
    /* font family */
    font-family: 'Big Shoulders Stencil Display', cursive;
}

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*Estilos de la barra de navegacion*/

ul {
    list-style-type: none;
    margin: 0;
    font-size: 2vw;
    padding: 0%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.8s;
}

li {
    float: left;
    width: 16.6%;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: black;
}


/*scroll menu*/

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.table {
    float: left;
    width: 100%;
    padding: 2%;
}


/*Encabezado*/

.header {
    background-image: url("../img/section-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 10vw;
    color: black;
}


/* Clases de Columns*/

.one-column {
    float: left;
    width: 100%;
    padding: 2%;
}

.one-column h1 {
    font-size: 8vw;
}

.one-column p {
    font-size: 4vw;
}

.two-column {
    float: left;
    width: 50%;
    padding: 2%;
}

.two-column p {
    font-size: 2vw;
    padding: 3%;
    text-align: justify;
}

.two-column h1 {
    font-size: 5vw;
}

.two-column img {
    width: 100%;
}

.four-column {
    float: left;
    width: 25%;
    padding: 2%;
}


/*clase de padding*/

.padding-0 {
    padding: 0%;
}

.padding-30 {
    padding: 90px;
    font-size: 3vw;
}


/*Secciones*/

#section-1 img {
    padding-top: 20%;
}

#section-2 {
    background-color: rgb(202, 202, 202);
}

#seccion-3 {
    padding-top: 20px;
}

#seccion-5 {
    text-align: center;
    font-size: 3vw;
    background-color: yellow;
}

#seccion-5 p {
    color: white;
}

#section-6 {
    padding: 0%;
}


/*Tabla*/

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: turquoise;
    color: white;
}


/*Cuenta regresiva*/

#cuenta {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.simply-section {
    background: burlywood;
    width: 180px;
    height: 180px;
    margin: 0 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simply-amount {
    display: block;
    font-size: 50px;
    font-weight: 700;
}

.simply-word {
    font-weight: 300;
    font-size: 30px;
}


/*Maps*/

.maps {
    width: 100%;
    padding: 2%;
}


/*Footer*/

#footer {
    background-color: black;
    color: white;
}

#footer p {
    font-size: 20px;
    text-align: left;
}


/*Discord*/

.two-column iframe {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*redes sociales*/

.redes-sociales .btn-red-social {
    padding: 15px 0;
    display: inline-block;
    min-width: 120px;
    border-radius: 5px;
    background: #0054a5;
    color: #fff;
    font-size: 30px;
    margin: 0 20px;
    transition: .3s ease all;
    text-align: center;
}

#redes-sociales {
    font-size: 6vw;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:700px) {
    .two-column,
    .one-column,
    .header {
        width: 100%;
    }
    .one-column h1 {
        font-size: 100%;
    }
    .two-column img {
        width: 100%;
    }
    li {
        display: inline-block;
        width: 40%;
        text-align: center;
        float: none;
    }
    li a {
        font-size: 14px;
        display: inline-block;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
    ul {
        padding: 0;
        overflow: auto;
        white-space: nowrap;
    }
    .table {
        float: left;
        width: 100%;
        padding: 0%;
    }
    #cuenta {
        display: none;
        justify-content: center;
        margin-bottom: 100px;
        width: 100%;
    }
}